extend layout
block content
  p
    | This is a very special app that has some stuff
    | I really love stuff... so much stuff in the content block
    | no more block content in stuff
  p
    | a thing is in a block
    | a thing is in a block
    | a thing is in a block
    | a thing is in a block
    | a thing is in a block
    | a thing is in a block
    | a thing is in a block
block sidebar
  .widget
    h1 Widget
    p
      | this is a sidebar widget of things
      | this is amazingly crazy of things
    p
      | more more more
      | something