extend layout
block content
  p
    | This is a very important government site!
    | Special Special Code Here
    | Please Stop Looking at me!
  p
    | Secret 1
    | Secret 2
    | Secret 3
    | Secret 4
    | Secret 5
    | Secret 6
    
block sidebar
  .widget
    h1 Calendar
    p
      | This will be a calendar
      | More calendar
    p
      | Something Special
      | About a calendar!
      